.app__experiences {
  flex: 1;
  width: 100%;
  flex-direction: column;
  padding: 3rem 0;

  .app__exp-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 80%;

    .p-text {
      font-size: 1rem;
      margin-bottom: 0.5rem;
    }
  }

  @media screen and (max-width: 500px) {
    padding: 0;

    .app__exp-header {
      width: 100%;
      padding: 0 2rem;
      margin-bottom: 2rem;
    }
  }
}

.app__experiences-container {
  width: 80%;
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;

  .vertical-timeline {
    padding: 0;
  }

  @media screen and (max-width: 900px) {
    flex-direction: column;
  }

  @media screen and (max-width: 500px) {
    width: 100%;
    padding: 0 2rem;

    .vertical-timeline {
      width: 100%;
    }
  }
}

.app__exp {
  flex: 1;

  .exp-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    img {
      width: 90%;
      height: 90%;
      object-fit: contain;
    }
  }

  @media screen and (max-width: 900px) {
    margin-top: 2rem;
  }

  @media screen and (max-width: 500px) {
    width: 100%;
    margin: 2rem auto;
  }
}

.app__exp-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  margin: 1rem 0;
}

.app__exp-works {
  flex: 1;

  .app__exp-work {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    h4 {
      font-weight: 500;
    }

    p {
      font-weight: 400;
      color: var(--gray-color);
      margin-top: 5px;
    }
  }
}

// .app__exp-year {
//   margin-right: 3rem;
//   width: 34px;

//   p {
//     font-weight: 800;
//     color: var(--secondary-color);
//   }

//   @media screen and (max-width: 450px) {
//     margin-right: 1rem;
//   }
// }
