.app__about {
  flex: 1;
  flex-direction: column;

  .app__about-header {
    padding: 4rem 0;
    width: 84%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    :first-child {
      font-size: 1rem;
    }
    :nth-child(2) {
      padding: 0.3rem 0 0.5rem 0;
    }

    :nth-child(3) {
      width: 55%;
    }

    @media screen and (max-width: 1024px) {
      width: 75%;

      :nth-child(3) {
        width: 100%;
      }
    }

    @media screen and (max-width: 500px) {
      padding: 3rem 0 0 0;
      width: 80%;

      :nth-child(3) {
        width: 100%;
      }
    }
  }
}

.app__profiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;

  @media screen and (max-width: 500px) {
    margin: 2rem 0;
  }
}

.app__profile-item {
  box-shadow: 0 0 25px #fef4f5;
  width: 250px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin: 2rem;
  border-radius: 15px;
  border: 1px solid var(--primary-color);

  img {
    width: 100%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
  }

  .details {
    padding: 0.5rem 0.5rem 1rem 0.5rem;
  }

  @media screen and (min-width: 2000px) {
    width: 370px;
    margin: 2rem 4rem;

    img {
      height: 320px;
    }
  }

  @media screen and (max-width: 500px) {
    width: 80%;
  }
}
